<div class="preface" id="preface-h-1">
<h1>Preface</h1>
<p>This is a sample document whose purpose is to show how CSS can be
used to print a book. To make the document more lively, excerpts from
the third edition of &#8220;Cascading Style Sheets &#8212; designing
for tbe Web&#8221; have been included.<span class="footnote"> That
book <em>was</em> produced using the methods described in the
document, and it was published by Addison-Wesley in 2005.</span> The
excerpts have been selected for their example values and they appear,
in this document, out of order.</p>

<p>The PDF version of this document is produced directly from the HTML
and CSS sources by the Prince formatter.</p>
<p>We encourage you to reuse the structure, markup and style sheet of
this sample document. In your own book, however, you need to provide
the content yourself.</p>
<p class="author">H&#229;kon Wium Lie &amp; Bert Bos 
Oslo/Antibes November 2005</p>
</div>