<div class="toc" id="toc-h-1">
  <nav>
    <h1>Table of Contents</h1>

    <ol class="toc">
    <li class="frontmatter"><a href="#toc-h-1">Table of Contents</a></li>
    <li class="frontmatter"><a href="#preface-h-1">Preface</a></li>
    <li class="chapter"><a href="#html-h-1">The Web and HTML</a>
      <ol>
      <li class="section"><a href="#the-web">The Web</a>
        <ol>
        <li class="section"><a href="#development">Development of the Web</a></li>
        <li class="section"><a href="#images">Adding images</a></li>
        </ol>
      </li>
      </ol>
    </li>
    <li class="chapter"><a href="#css-h-1">CSS</a>
      <ol>
      <li class="section"><a href="#roles">Roles and Style Sheets</a></li>
      </ol>
    </li>
    <li class="backmatter"><a href="#index-h-1">Index</a></li>
    </ol>
  </nav>
</div>