<div class="section" id="rules">
<h2>Rules and Style Sheets</h2>

<p>You can create style sheets in two ways. You can either use a
normal text editor and write the style sheets <q>by hand</q> or you
can use a dedicated tool &#8211; for example, a Web authoring tool.
The dedicated tools enable you to create style sheets without learning
the syntax of the CSS language. However, in many cases, the designer
wants to tweak the style sheet by hand afterwards, so we recommend
that you learn to write and edit CSS by hand. Let's get started! Here
is a simple example:</p>

<pre class="CSS">h1 { color: green }
</pre>

<p>This code is a simple CSS rule that contains one rule. A <dfn id="dfn-rule">rule</dfn> is a statement about one stylistic aspect of
one or more elements. A <dfn id="dfn-style-sheet">style sheet</dfn> is
a set of one or more rules that apply to an HTML document. This rule
sets the color of all first-level headings (<span class="element">h1</span>).</p>


<div class="table">
<p class="caption">HTML extension elements and their CSS equivalent.</p>
<table class="lined">
  <thead>
     <tr><th>Element</th><th>CSS equivalent</th></tr>
  </thead>
  <tbody>
     <tr><td><code>&lt;tt&gt;</code></td>
       <td><span class="css">font-family: monospace</span></td></tr>
     <tr><td><code>&lt;i&gt;</code></td>
       <td><span class="css">font-style: italic</span></td></tr>
     <tr><td><code>&lt;b&gt;</code></td>
       <td><span class="css">font-weight: bold</span></td></tr>
     <tr><td><code>&lt;u&gt;</code></td>
       <td><span class="css">text-decoration: underline</span></td></tr>
  </tbody>
</table>
</div>

</div>