<div class="chapter" id="html-h-1">
<h1 style="counter-reset: page 1">What the Heck is bookshop?</h1>

<p class="sidenote">$ bookshop <a class="pageref" href="#specs">new</a> how_to</p>

<p>bookshop is a new way to build and manage your author's books.</p>

<p>Ok, more specifically (for you fellow geeks)... bookshop is an open source, ruby based, command-line interfaced, publishing framework for html-to-pdf/(e)book toolchain happiness and sustainable productivity.</p>

<%= import('ch01/the_web.html.erb')%>
<%= import('ch01/dev_of_the_web.html.erb')%>
<%= import('ch01/adding_images.html.erb')%>


</div>
</div>