<div class="section" id="the-web">
<h2>The Web</h2>

<p>The Web is a vast collection of documents on the <dfn id="dfn-internet">Internet</dfn> that are linked together via
hyperlinks. The Internet consists of millions of computers worldwide
that communicate electronically. A <dfn id="dfn-hyperlink">hyperlink</dfn> is a predefined link between two
documents. The hyperlinks allow a user to access documents on various
Web servers without concern for where they are located. A <dfn id="dfn-web-server">Web server</dfn> is a computer on the Internet
that serves out Web pages on request. From a document on a Web server
in California, the user is just one mouse click away from a document
that is stored, perhaps, on a Web server in France. Hyperlinks are
integral to the Web. Without them, there would be no Web.</p>