<div class="preface" id="preface-h-1">
<h1>Preface</h1>

<p>The other day I was sitting in a coffee shop madly geeking away on my macbook. My screen was partially filled with my favorite text editor (<a href="http://macromates.com/"<% if @output == :html %> target="_blank"<% end %>>Textmate</a>), the rest with my browser (still <a href="http://www.mozilla.com/firefox/"<% if @output == :html %> target="_blank"<% end %>>Firefox</a>) and my terminal console. I was engrossed in my work, indie-rock band playing over the store speakers, jittery from the high-octane dark roast coffee, and somehow unaware of the person next to me who was staring pointedly at me and my screen.</p>

<p>"What is all of that?!" asked the curious coffee-house patron, a sharply-dressed business man.</p>

<p>"It's a book." I replied leaning my head slightly toward his direction, but not breaking my concentration.</p>

<p>"That looks like HTML. You're writing a book for the web?" He questioned.</p>

<p>"Yes. Well, for the web and for print, and kindle, and all the other versions," I smartly answered.</p>

<p>"So what software are you using for the print?"</p>

<p>"I'm using this. The HTML. All of the book types are built from this."</p>

<p>"But how are you going to manage all of the different layouts, and the content that changes depending on the type of book?"</p>

<p>"You must be in publishing." I noted, turning to him, cutting to the chase. He smiled. I answered, "Well, I'm using bookshop. It's an open source software that uses a simple template language called ERB that let's me use HTML and CSS with some custom tags to define content based upon the type of book, like epub, mobi, pdf, print."</p>

<p>"Yikes, sounds geekish to me." he dismissed.</p>

<p>"Welcome to today's publishing world." I smirked, turning back to my work. "Today's book is like any other content: it has to be consumable by every new device that comes out. And there are more every day. You could build each version independently if you want to. Or you can save time, resources and human error by building them all from one source document."</p>

<p>"We like to have more control of our books in our publishing firm."</p>

<p>"That's cool. No big deal for a couple of authors. But when you have ten authors, that will be sixty or more actual books to modify for every edit. With bookshop, you only have one source document per book. You can make changes to the source document and all the other versions are updated."</p>

<p>"But then I'd have to learn a whole new piece of software and language." He surmised.</p>

<p>"Do you know how to use HTML and CSS?" I asked.</p>

<p>"Doesn't everybody these days?" He noted, gesturing with his hand toward his own laptop.</p>

<p>"Then, except for a couple of new tags, you already know how to build a book in bookshop. I'll send you an email and you can check it out for yourself. They've published a how-to book that you can download. You can even download the book's source document as a proof of concept." I opened my email and leaned toward him for his email.</p>

<p>He handed me a card, with his email, <em>need_a_new_model@imanoldschoolpublisher.com</em>."Thanks. I'll check it out. Nice chatting with you," he added, packing up his computer.</p>

<p>"A pleasure," I ended, reaching over to shake his hand.</p>

<p class="author">D.a. Thompson<br>
Tacoma, WA<br>January 2012</p>

</div>