<div class="toc" id="toc-h-1">
<h1>Table of Contents</h1>

<nav class="frontmatter"><a href="#toc-h-1">Table of Contents</a></nav>
<nav class="frontmatter"><a href="#preface-h-1">Preface</a></nav>
<nav class="chapter"><a href="#html-h-1">The Web and HTML</a>
  <nav class="section"><a href="#the-web">The Web</a>
    <nav class="section"><a href="#development">Development of the Web</a></nav>
    <nav class="section"><a href="#images">Adding images</a></nav>
  </nav>
</nav>

<nav class="chapter"><a href="#css-h-1">CSS</a>
  <nav class="section"><a href="#rules">Rules and Style Sheets</a></nav>
</nav>

<nav class="endmatter"><a href="#index-h-1">Index</a></nav>

</div>