<div class="section" id="images">
<h3>Adding images</h3>

<p>Images proliferate on the Web. It wasn't until the Mosaic browser
added support for images in 1993 that a critical mass of people
realized the potential of the Web. You can add images to your
documents with the <span class="element">img</span> element &#8211;
<span class="element">img</span> is short for image.</p>

<p>When the image is ready, the page looks like <a class="figref" href="#fig-loaded">this figure</a>.</p>

<div class="figure" id="fig-loaded">
  <p class="caption">The image has been loaded.</p>
  <p class="art"><img alt="[image]" src="assets/images/html-18.png" style="width: 100%;" /></p>
</div>