<div class="chapter" id="html-h-1">
<h1 style="counter-reset: page 1">The Web and HTML</h1>

<p class="sidenote">The box <a class="pageref" href="#specs">&#8220;CSS Specifications&#8221;</a> lists the different CSS specifications.</p>
<p>Cascading Style Sheets (CSS) represent a major breakthrough in
how Web-page designers work by expanding their ability to
control the appearance of Web pages, which are the documents
that people publish on the Web.</p>
<p>For the first few years after the World Wide Web (the Web) was
created in 1990, people who wanted to put pages on the Web had
little control over what those pages looked like. In the
beginning, authors could only specify structural aspects of
their pages (for example, that some piece of text would be a
heading or some other piece would be straight text). Also,
there were ways to make text bold or italic, among a few other
effects, but that's where their control ended.</p>

<%= import('bodymatter/ch01/the_web.html.erb')%>
<%= import('bodymatter/ch01/dev_of_the_web.html.erb')%>
<%= import('bodymatter/ch01/adding_images.html.erb')%>


</div>
</div>