<div class="section" id="development">
<h3>Development of the Web</h3>

<p>The Web was invented around 1990 by Tim Berners-Lee with
Robert Cailliau as a close ally. Both of them were then
working at <dfn id="dfn-cern">CERN</dfn>, which is the European Laboratory for Particle
Physics. Tim is a graduate of Oxford University and a
long-time computer and software expert, and is now the director
of the <dfn id="dfn-w3c">World Wide Web Consortium (W3C)</dfn>, an organization that
coordinates the development of the Web. He also is a
principal research scientist at Massachusetts Institute of
Technology's Laboratory for Computer Science and Artificial
Intelligence (MIT CSAIL). Robert is a 30-year veteran at
CERN, where he still works. Robert organized the
first Web conference in Geneva in 1993. Both Tim and Robert
were awarded the ACM Software System Award in 1995 because
of their work on the Web.</p>
</div>
</div>