<div class="index" id="index-h-1">
<h1>Index</h1>

<ol class="index">
<li><a href="#dfn-cern">CERN</a></li>
<li><a href="#dfn-internet">Internet</a></li>
<li><a href="#dfn-hyperlink">hyperlink</a></li>
<li><a href="#dfn-rule">rule</a></li>
<li><a href="#dfn-style-sheet">style sheet</a></li>
<li><a href="#dfn-w3c">W3C</a></li>
<li><a href="#dfn-web-server">Web server</a></li>
<li><a href="#dfn-w3c">World Wide Web Consortium</a></li>
</ol>

</div>